In [1]:
# The code was removed by DSX for sharing.

,Education Level,Age,Age Range,Employment Status,Gender,Children,Weekly Earnings,Year,Weekly Hours Worked,Sleeping,...,Caring for Children,Playing with Children,Job Searching,Shopping,Eating and Drinking,Socializing & Relaxing,Television,Golfing,Running,Volunteering
0,High School,51,50-59,Unemployed,Female,0,0,2005,0,825,...,0,0,0,0,40,180,120,0,0,0
1,Bachelor,42,40-49,Employed,Female,2,1480,2005,40,500,...,365,20,0,120,40,15,15,0,0,0
2,Master,47,40-49,Employed,Male,0,904,2005,40,480,...,0,0,0,15,85,214,199,0,0,0
3,Some College,21,20-29,Employed,Female,0,320,2005,40,705,...,0,0,0,105,30,240,240,0,0,0
4,High School,49,40-49,Not in labor force,Female,0,0,2005,0,470,...,0,0,0,0,35,600,40,0,0,0